/* Stylesheet Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

strong {
	font-weight: bold;
}

body {
	width:70%;
	margin:0 auto;
	font-family: sans-serif;
	padding:30px;
}


.grid-container {
	width:100%;
	margin:0 auto
}

.intro p{
	font-size:19px;
	line-height: 34px;
	padding-bottom:20px;
}

.intro a,.intro a:active,.intro a:focus {
	text-decoration: none;
	color:#0645AD;
}

.title {
	font-weight:bold;
	font-size:20px;
	text-align: right;
	margin:40px 0px;
}

.item {
	float:left;
	height:140px;
	width:auto;
	margin:20px;
}
/*
img {
	max-width:100%;
	height:auto;
}*/

.footer {
	clear:both;
	border-top:1px solid #ccc;
	padding-top:10px;
	font-size:80%;
	text-align: center;
	width:80%;
	margin:10px auto;
}

.footer ul{
	list-style: none; 
	position: relative; 
	float: left; 
	display: block; 
	left: 50%; 
}
.footer li{
	position: relative; 
	float: left; 
	display: block; 
	right: 50%;
	margin:10px;
}

.footer a{
	text-decoration: none;
	color:#0645AD;
}